POSTGRES_PASSWORD = arstneio42
POSTGRES_USER = trans
POSTGRES_DB = transcendence
POSTGRES_HOST = postgres

DATABASE_URL = "postgresql://trans:arstneio42@postgres:5432/transcendence?schema=public"

FORTYTWO_CLIENT_ID = 
FORTYTWO_CLIENT_SECRET = 
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 

CALLBACK_URL = http://localhost:3000
DEFAULT_FRONTEND_URL = http://localhost:5173

JWT_SECRET = secretKey
